UnityShaders/Temp/
UnityShaders/Library/
UnityShaders/Logs/Packages-Update.log
UnityShaders/.vs/UnityShaders/v15/Browse.VC.db
UnityShaders/.vs/UnityShaders/v15/.suo
UnityShaders/Assets/Standard Assets/
UnityShaders/Logs/
UnityShaders/Assets/SampleScenes/
UnityShaders/obj/
